<updateSettings>
  <filesForUpdate>
    <updateMask>
      <src>MainData\PLAN_STAGE1.xml</src>
    </updateMask>
    <updateMask>
      <src>MainData\RRO_STAGE1.xml</src>
    </updateMask>
    <updateMask>
      <src>MainData\Department.xml</src>
    </updateMask>
    <updateMask>
      <src>MainData\Spr_Main_User.xml</src>
    </updateMask>
    <updateMask>
      <src>Бюджетные сметы.xml</src>
    </updateMask>
  </filesForUpdate>
  <postUpdateMainFile>Бюджетные сметы.xml</postUpdateMainFile>
  <postUpdateRules>
    <rule>%Doc%.UpdateRules.UpdateAllForms</rule>
  </postUpdateRules>
</updateSettings>
